*{padding:0; margin:0; box-sizing: border-box; font-family:sans-serif;}
header{
	width: 100vw;
	min-height: 100vh;
	background: #34495e;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}
.container-pay{
	background: white;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
	margin-top: 5%;
}
.container-pay .left{
	flex-basis: 50%;
}
.container-pay .right{
	flex-basis: 50%;
}
.container-pay form{
	padding: 1rem;
}

.container-pay h3{
	font-weight: bold;
	text-align: center;
	margin-top: 1rem;
	color:#2c3e50;
}
.container-pay h2{
	font-weight: bold;
	text-align: start;
	margin-top: 0.5rem;
	color:red;
}
	
.container-pay form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
	line-height: normal;
	font-weight: 500;
}
*::placeholder {
    font-weight: normal;
}
.container-pay #zip{
	display: flex;
	margin-top: 0.5rem;
}
.container-pay #zip select{
	padding: 0.5rem 0.7rem;
}
.container-pay #zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
.container-pay input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

.container-pay input[type="submit"]:hover{
	background: #2c3e50;
}

.pay-images{
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
}
.pay-submit{
	position: relative;
	right: 50%;
}
@media only screen and (max-width: 770px){
	.container-pay{
		flex-direction: column;
		margin-top: 10%;
	}
	body{
		overflow-x: hidden;
	}
	.pay-submit{
		position: relative;
		right: 0;
	}
}

