
.cont{
    background-image: url(https://img.freepik.com/premium-photo/burger-hamburger-3d-product-showcase-food-photography_111797-2020.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: inline-block;
  color: #fff;
}

.cont .title{
    font-size: 70px;
    font-family: 'Lobster';
    font-weight: 900;
    text-align: center;
   
}
.sub-title{
    font-size: 20px;
}
p{
    margin: 0;
}
.main {
    padding: 20px;
    font-family: 'Helvetica', serif;
    width: 40%;
   margin-left: 55%; 
}

.main h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Helvetica', serif;
}

input ,.select, .option{
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
    
}

input[type=submit] {
    font-family: 'Helvetica', serif;
    /* width: 20px; */
    background-color: #eb3a12;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    position: relative;
    margin: 0;
}
p{
    text-align: center;
}
.sub-text{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 5%;
}
.title-log{
    margin-left: 35% ;
    
}
.manudata-main{
    min-height: 100vh;
}
@media screen  and (max-width:900px){
.main{
    width: 60%;
    margin-left: 35%;
}
.title-log{
    margin-left: 0px;
}
}
@media screen  and (max-width:500px) {
    .title-log{
        margin-left: 0;
    }
    .cont .title{
        font-size: 15vw;
    }
    .sub-title{
        font-size: 3vw;
    }

    .main{
        margin-left: 5%;
        width: 90%;
        backdrop-filter: blur(10px);
        margin-top: 25%;
    }
    .sub-text{
        font-size: 15px;
        /* padding-top: 15px; */
    }
}